.fallback {
  padding: 40px 20px;
  text-align: center;
}

.fallbackTitle {
  font-size: calc(16px * var(--app-font-scale));
  color: #999;
  display: block;
  margin-bottom: 16px;
}

.fallbackDesc {
  font-size: calc(14px * var(--app-font-scale));
  color: #BFBFBF;
}
