.fallback {
  padding: 40px 20px;
  text-align: center;
}

.fallbackTitle {
  font-size: 16px;
  color: #999;
  display: block;
  margin-bottom: 16px;
}

.fallbackDesc {
  font-size: 14px;
  color: #BFBFBF;
}
