@use '../../styles/variables' as *;

.bar {
  flex-shrink: 0;
  padding-bottom: $safe-bottom;
  --nutui-tabbar-border-top: 1px solid #eeeeee;
  --nutui-tabbar-text-font-size: 22px;
  --nutui-tabbar-text-margin-top: 2px;
}

.label {
  font-size: 22px;
  line-height: 1.2;
}
