@use '../../styles/variables' as *;

.bar {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100;
  --nutui-tabbar-border-top: 1px solid #eeeeee;
  --nutui-tabbar-height: 128px;
  --nutui-tabbar-text-margin-top: 4px;
  --nutui-tabbar-text-font-size: 18px;

  :global(.nut-tabbar-item) {
    padding: 0;
  }

  :global(.nut-safe-area-position-bottom) {
    display: none;
  }
}

.label {
  line-height: 1.2;
}
