.header {
  --nutui-navbar-background: #ffffff;
  --nutui-navbar-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  --nutui-navbar-title-font-size: 36px;
  --nutui-navbar-title-font-weight: 600;
  --nutui-navbar-title-font-color: #333333;
  --nutui-navbar-font-size: 36px;
  --nutui-navbar-color: #333333;

  position: relative;
  z-index: 10;
}

.btn {
  padding: 4px;
  margin-left: -4px;
  transition: all 0.15s ease-out;

  &:active {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

.title {
  font-weight: 600;
  font-size: 36px;
  color: #333;
}

.placeholder {
  width: 20px;
}
